@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box ;
 font-family: 'Nunito', sans-serif;
}

body{
 min-height: 100vh;
 display: flex;
 justify-content: center;
 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;
}

/* Slider */
.slide-container{
 background-color: #eff4fa;
 position: relative;
 width: 100%;
 height: 350px;
 box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
}

.slide-container .slides{
 width: 100%;
 height: calc(100% - 40px);
 position: relative;
 overflow: hidden;
}

.slide-container .slides img{
 width: 100%;
 height: 100%;
 position: absolute;
 object-fit: fill;
}

.slide-container .slides img:not(.active){
 top: 0;
 left: -100%;
}

span.next , span.prev{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 padding: 14px;
 font-size: 24px;
 font-weight: bold;
 transition: 0.5s;
 border-radius: 3px;
 user-select: none;
 cursor: pointer;
 z-index: 1;
 color: #88ccf1;
}

span.next{
 right: 20px;
}

span.prev{
 left: 20px;
}

span.next:hover, span.prev:hover{
 background-color: #71677c;
 opacity: 0.5;
 color: #fff;
}

.dotsContainer{
 position: absolute;
 bottom: 5px;
 z-index: 3;
 left: 50%;
 transform: translateX(-50%);
}

.dotsContainer .dot{
 width: 15px;
 height: 15px;
 margin: 0px 2px;
 border: 3px solid #71677c;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}

.dotsContainer .active{
 background-color: #555;
}

@keyframes next1{
 from{
  left: 0%
 }
 to{
  left: -100%
 }
}

@keyframes next2{
 from{
  left:100%
 }
 to{
  left: 0%
 }
}

@keyframes prev1{
 from{
  left: 0%
 }
 to{
  left: 100%
 }
}

@keyframes prev2{
 from{
  left:-100%
 }
 to{
  left: 0%
 }
}
/* Nav Bar */
nav{
 width: 100%;
 display: flex;
 justify-content: space-between;
}
#div-logo{
 display: flex;
 align-items: center;
 padding: 5px 0;
 max-width: 30%;
}
#logo{
 max-width: 50px;
}
h1{
 color: #88ccf1;
}
#pages{
 list-style-type: none;
 display: flex;
 width: 40%;
 justify-content: space-around;
 align-items: center;
}
#pages li a{
 text-decoration: none;
 font-weight: 700;
 font-size: 1.5rem;
 color: #555;
}

/* Main */
main{
 padding: 10px 30px 50px;
 background-color: #EFF4FA;
}
#travel{
 display: flex;
 gap: 1rem;
}
#travel-header,#travel-tipsmain h2 {
 text-align: center;
 font-weight: 700;
 font-size: 2.3rem;
 color: #71677c;
 width: 100%;
 margin-bottom: 10px;
}
#travel-header span,li span, #last-paragraph span{
 color: #88ccf1;
}
#travel p, li, #last-paragraph{
 font-size: 1.3rem;
 list-style-type: none;
 text-align: justify;
}
#travel li{
 padding-top: 10px;
}
#travel p, li, #last-paragraph{
 padding-top: 10px;
}
#travel li:last-child{
 margin-bottom: 10px;
}

#map-div{
 margin-top: 2rem;
 width: 100%;
 height:80vh;
}
#map-image{
 width: 100%;
 height: 100%;
 background-size: contain;
 background-position: center;  
}
form{
 width: 70%;
 display: flex;
 flex-direction: column;
 background-color: #fff;
 margin: 0 auto;
 padding-top: 5px;
}
#submit{
color: #71677c;
padding: 5px 20px;
background-color: #88ccf1;
border: none;
margin-left: 15%;
text-align: center;
cursor: pointer;
}
#submit:focus {
  outline: none;
}
input,textarea{
 width: 70%;
 padding: 10px;
 margin: 5px auto;
}

/* Travel */
#travel-tipsimage-div{
 width: 100%;
 height: auto;
 margin: 0 auto;
}
#travel-tipsimage-div img{
width: 100%;
background-size: cover;
object-fit: fill;
vertical-align: top;
}
#travel-tips{
 padding: 30px 60px  50px 60px;
}
#travel-tipsmain{
 padding: 5px 30px;
}
#travel-tipsmain li{
 padding: 5px;
 width: 95%;
 margin: 0 auto;
}
/* Call Button */
.material-symbols-outlined{
border: 1px solid #71677c;
padding: 7px;
border-radius: 50%;
background-color: #88ccf1;
color: white;
cursor:pointer;
position: fixed;
bottom: 80px;
right: 20px;
z-index: 999;
opacity: 0.5; 
}
.material-symbols-outlined:hover{
background-color: rgb(104, 251, 202);
}
#call{
 position: relative;
}

/* Queries */
@media screen and (max-width:414px){
 #div-logo{
 padding: 5px ;
 max-width: 40%;
}
#logo{
 max-width: 35px;
}
h1{
 font-size: 1rem;
}
#pages li a{
 font-size: 1rem;
}
/* Main */
main{
 padding: 10px 30px 50px;
}
#travel{
 display: grid;
 grid-template-columns: 1fr;
}
#travel h2{
 margin-bottom: 10px;
}
#travel-tipsmain h2 {
 font-weight: 700;
 font-size: 1.5rem;
 margin-bottom: 0px;
 padding-top: 10px;
}
#travel-tipsmain li{
 width: 100%;
 margin: 0 auto;
}
#travel-tips{
 padding: 15px 20px;
}
#map-div{
 width: 100%;
 height: fit-content;
 margin-top: 0rem;
}
#map-image{
 width: 100%;
 height: 100%;
 background-size: contain;
 background-position: center;  
}
form{
 width: 100%;
}
}
@media screen and (max-width:320px){
#pages li a{
 font-size: 0.8rem;
}
#travel-header{
 font-size: 1.5rem;
 margin-bottom: 10px;
}
#travel p, li{
 font-size: 1.2rem;
}
#map-div{
 margin-top: 0rem;
}
#travel li:last-child{
 margin-bottom: 0px;
}
#travel-tipsmain h2 {
 font-weight: 700;
 font-size: 1.5rem;
 margin-bottom: 0px;
 padding-top: 10px;
}
#travel-tipsmain li{
 padding: 5px;
 width: 100%;
 margin: 0 auto;
}
#travel-tips{
 padding: 15px 7px;
}
 #last-paragraph{
 font-size: 1.2rem;
 list-style-type: none;

}
}
@media screen and (min-width:600px) and (max-width:1024px){
#map-div{
 width: 100%;
 height: fit-content;
 margin-top: 0rem;
}
#travel{
 display: grid;
 grid-template-columns: 1fr;
}
}
@media screen and (max-width:1920px){
 #map-div{
 width: 100%;
 height: 80vh;
 margin-top: 0rem;
 margin-bottom: 5px;
}
form{
 margin-top: 2rem;
 padding: 10px 0;
}
}